# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out
.turbo

# env & secrets
.env
.env.local
.env.*.local
!.env.example

# database
*.db
*.db-journal
/data
/prisma/dev.db
/prisma/dev.db-journal

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# os / ide
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json

# typescript
*.tsbuildinfo
